/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #c59f87;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;

  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
/*   background: black; */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

li{
  list-style: none;
  padding-left: 35px;
}

li:nth-last-child(1){
  padding-right: 30px;
}

li a{
  text-decoration: none;
  font-size: 20px;
}

.profile-links {
  display: flex;
}

.link-words{
  border-bottom: 1px solid #c59f87;
}

*{
  background-color: black;
  scroll-behavior: smooth;
}

#welcome-section{
  height: 500px;
  text-align: center;
  background-image: url('https://cdn.pixabay.com/photo/2012/08/27/14/19/evening-55067_1280.png');
  margin-bottom: 0;
  background-size: cover;
  margin-bottom: 40px;
}

#projects, #about, #skills{
  margin-left: 20px;
  margin-top: 70px;

}

#about{
  background-color: black;
}

h1{
  font-family: 'Acme', sans-serif;
  font-size: 50px;
  letter-spacing: 4.5px;
}

h2{
  font-family: 'Comfortaa', cursive;
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 70px;``
}

h3{
  font-family: 'Comfortaa', cursive;
  font-size: 37px;
  letter-spacing: 4px;
}

h4{
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

p{
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  line-height: 1.8;
  letter-spacing: 1.3px;
  font-weight: bold;
}

 h1, h2, h3, h4, p{
   color: #c59f87;
 }

.line{
  height: 10px;
  background-color: #c59f87;
  width: 90%;
  position: relative;
  top: -40px;
  right: -80px;
}

.links::after{
  margin-right: 20px;
  content: "    ";
}

.grid-container{
  display: grid;
  grid-template-columns: 5fr 0.2fr 5fr 1fr;
  grid-template-rows: 4fr;
  /* height: 300px; */
  grid-row-gap: 100px;
}


.title{ margin-top: 0; margin-bottom:4px;}
.orange{ color: #ffe398; margin-top: 0;}


.a{  background-image: url(tribute.jpg);  }
.b{  background-image: url(survey.jpg);  }
.c{  background-image: url(product.jpg);  }
.d{  background-image: url(technical-doc.jpg);  }

.img{
  width: 90%;
  background-color: #ffe398;
  height: 100%;
  margin-left: 0;
  border-radius: 5%;
  background-position: center;
  background-size: cover;
}

.btn{
  background-color: black;
  color: #ffe398;
  height: 60px;
  width: 200px;
  font-size: 25px;
  font-family: 'Righteous', cursive;
  letter-spacing: 1.3px;
  border-radius: 7px;
  border: 1px solid #c59f87;
  transition: all 0.7s ease 0s;
}

.btn:hover{
 cursor: pointer;
 background-color: #ffe398;
 color: black;
 border: none;
 transform: translateY(-10px);
}
